/* Custom Select Styles */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-color);
    height: 100%;
    background: #fff;
    cursor: pointer;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    transition: all 0.3s;
}

.custom-select__trigger:hover {
    border-color: var(--dark-blue);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid var(--dark-blue);
    border-top: 0;
    background: #fff;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    margin-top: 8px;
    border-radius: 8px;
    border: 2px solid var(--dark-blue);
}

.custom-select.open .custom-select__trigger {
    border-color: var(--dark-blue);
}

.custom-option {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.2s;
}

.custom-option:hover {
    background-color: #a35138;
    color: #fff;
}

.custom-option.selected {
    background-color: #f0f0f0;
    font-weight: 600;
}

.custom-option.selected:hover {
    background-color: #a35138;
    color: #fff;
}

.arrow {
    position: relative;
    height: 10px;
    width: 10px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.3s;
}

.arrow::before {
    left: -3px;
    transform: rotate(-45deg);
    background-color: var(--text-color);
}

.arrow::after {
    left: 3px;
    transform: rotate(45deg);
    background-color: var(--text-color);
}

.custom-select.open .arrow::before {
    left: -3px;
    transform: rotate(45deg);
}

.custom-select.open .arrow::after {
    left: 3px;
    transform: rotate(-45deg);
}
